<div class="pub-entry">

  {% assign ref = reference
    | replace: "Adil, S. A.", "<strong>Adil, S. A.</strong>"
    | replace: "Adil, Shahnawaz A.", "<strong>Adil, Shahnawaz A.</strong>"
    | replace: "Adil, Shahnawaz Aryan", "<strong>Adil, Shahnawaz Aryan</strong>"
  %}

  {{ ref }}

  <div class="pub-links">
    {% if entry.eprint %}
      <a href="https://arxiv.org/abs/{{ entry.eprint }}" target="_blank">[arXiv]</a>
    {% endif %}

    {% if entry.doi %}
      <a href="https://doi.org/{{ entry.doi }}" target="_blank">[DOI]</a>
    {% endif %}
  </div>

</div>
